<!DOCTYPE html>
<html lang="en">
<!--[↓ HEAD ↓]-->
<%- include('./partials/head', {title: 'Product Detail', css: ['/css/productDetail.css']}) %>
<!--[↑ HEAD ↑]-->

<body>
  <!--[↓ HEADER ↓]-->
  <%- include('./partials/header') %>
  <!--[↑ HEADER ↑]-->
  <main>
    <div class="titulo-tv">
      <p><%= locals.product.name  %> ></p>
      <p class="stock">[Stock 6u]</p>
    </div>
    <div class="foto-smart">
      <img src="<%= locals.product.image %> ">
    </div>
    <div class="contenedor-price-button">
      <p class="precio"><%= locals.product.price  %>  </p>
      <button type="button">ADD TO CARR</button>
    </div>
    <h3>Descripción</h3>
    <ul type="none">
      <li><%= locals.product.description  %> </li>

    </ul>
  </main>
  <!--[↓ FOOTER ↓]-->
  <%- include('./partials/footer') %>
  <!--[↑ FOOTER ↑]-->
</body>

</html>